* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #b2c6b6;
  display: flex;
  justify-content: center;
}

.todo-app {
  min-width: 25%;
  margin: 50px 0;
  background-color: #fff;
  padding: 20px 20px 20px 75px;
  border-radius: 25px;
}

.todo-app h2 {
  font-size: 28px;
  color: #002765;
  text-align: center;
  margin-bottom: 25px;
  margin-left: -55px;
}

.todo-app h2 img {
  width: 35px;
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  background: #00276522;
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-left: -55px;
  transition: 0.5s;
}
.row:hover {
  box-shadow: 1px 1px 2.5px #002765;
}

input {
  font-size: 18px;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
}

button {
  font-size: 18px;
  border: none;
  padding: 12px 25px;
  background-color: #002765ab;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.25s ease-out;
}
button:hover {
  background-color: #002765ee;
}

ol li {
  font-size: 18px;
  padding: 12px 0px;
  cursor: pointer;
  position: relative;
}

ol li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  left: -55px;
  top: 8px;
}

ol li.checked {
  color: #555;
  text-decoration: line-through;
}

ol li.checked::before {
  background-image: url(images/checked.png);
}

ol li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #002765bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}

ol li span:hover {
  background-color: #00276522;
  color: #b75b48;
}
